table { width: 100%}
table, th, td { border: 1px solid; border-collapse: collapse;}
th, td { padding : 10px 15px}

#board_wrap { width: 1100px ; margin: 0 auto;}
.bno, .writer { text-align: center;}
.subject { width: 70%;}
 